[Desktop Entry]
Version=1.0
Type=Application
Name=M Tweak
Comment=Manokwari theme manager
GenericName[id]=Manajer tema untuk Manokwari
TryExec=m-tweak
Exec=su-to-root -X -c m-tweak
Icon=m-tweak
Categories=GTK;System;Settings;
Encoding=UTF-8
StartupNotify=false
